body {
  background-color: #ccc;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: crosshair;
}

#canvas1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: radial-gradient(#0b0b0b, #000000);
}
